In [2]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [6]:
# # Reading from a CSV file
# df = pd.read_csv('data.csv')

# # Display first 5 rows
# print(df.head())

In [8]:
# # Checking for missing values
# print(df.isnull().sum())

# # Filling missing values with a specific value
# df.fillna(0, inplace=True)

In [10]:
import pandas as pd

# Creating the first DataFrame
df1 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Age': [25, 30]})

# Creating the second DataFrame
df2 = pd.DataFrame({'Name': ['Alice', 'Bob'], 'Salary': [5000, 6000]})

# Merging the DataFrames on the 'Name' column
merged_df = pd.merge(df1, df2, on='Name')

In [11]:
merged_df

    Name  Age  Salary
0  Alice   25    5000
1    Bob   30    6000